*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EAEAEA;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.container{
    background-color: #ffffff;
    color: #39393A;
    border-radius: 10px;
    width: 70%;
    margin: 40px auto;
    padding: 40px;
}

.principal h1{
    font-size: 28px;
    text-align: center;
    color: #1B1B1B;
    margin-bottom: 10px;
}
.principal figure #bg{
    background-image: url(assets/samacaca.jpg);
    height: 100%;
}

.principal figure img{
    border-radius: 10px;
    object-fit: cover;
    margin: 12px auto 10px auto;
}

.principal figure .legend{
    text-align: right;
    font-style: italic;
    font-size: 12px;
    color: #8F8F8F;
}

.content{
    line-height: 30px;
    list-style-position: inside;
    padding: 40px;
}

h2{
    font-size: 20px;
    text-align: center;
    color: #1B1B1B;
}

footer{
    text-align: center;
    font-size: 12px;
    margin-bottom: 70px;
}
#mypage{
    text-decoration: none;
    color: #8F8F8F;
}

@media (max-width:500px){
    .container{
        width: 100%;
        height: 1130px;
        margin: 0 auto;
        font-size: 12px;
        padding: 10px;
    }
    .principal figure img{
        width: 100%;
        height: 50%;
        margin: 10px auto 10px auto;
    }
    .content{
        line-height: 1.5rem;
        list-style-position: outside;
        padding: 10px;
        margin-top: 10px;
    }
    footer{
        position: absolute;
        bottom: -64%;
        left: 35%;
        padding: 10px;
    }
}

