/* Colors */

$text-color: #FFFCF9;
$btn-color: #E9E6E3;
$black: #000000;
$dark: #1A1A1A;
$gray: #8C8C8C;
$bg-red: #C12A23;
$bg-blue: #1E46A3;

/* Breakpoints */

$breakpoint-small: 320px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
