@import "./variables";
@import "./mixin";
@import "./responsive";

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body {
    @include flexBox(column, flex-start);
    @include screenSize(100%, 100vh);
    min-height: 100%;

    font-family: 'Poppins', sans-serif; 
    background: linear-gradient(50deg, $bg-blue, $black, $bg-red);
    color: $text-color;

    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a {
    text-decoration: none;
    color: $text-color;
}

.container {
    @include flexBox(column, center);
    @include screenSize(70%, auto);
    @include Font(14px, 100);

    margin: 15vh;
    text-align: center;

    h1 {
        @include Font(40px, bold);
    }

    
    .finder-container {
        @include flexBox(column, center);
        @include screenSize(90%, auto);
        padding: 20px;

        #movie-info {
            display: none;
            // @include flexBox(row, center);
            // align-items: flex-start;
            // gap: 2em;
            // flex-wrap: wrap;

            #movie-img {
                @include screenSize(170px, 240px )
            }

            .movie-content {
                @include flexBox(column, space-between);
                align-items: flex-start;
                gap: 1em;
                width: 80%;
                text-align: justify;
            }
        }

        .btn {
            @include flexBox(row, center);
            @include screenSize(180px, 45px);
            @include Font(12px, bold);
            
            background: $btn-color;
            color: $black;
            margin: 2em;
            padding: 5px;
            border: 2px solid $dark;
            border-radius: 5px;
            gap: 10px;
            cursor: pointer;
        }

        span {
            max-width: 400px;
        }

    }
    @include Responsive();

}

