@import url('https://github.com/itfoundry/Poppins');
*{
    margin: 1% auto;
    padding: 0 auto;
    font-family:'Poppins', sans-serif;
    font-weight: 300;
    background-color: #ffffff;
    color: #BB99DD;
    text-align: center;
}

.profile{
    box-sizing: border-box;
    border: 6px double;
    border-radius: 100% ;
    margin-top: 2%;
}
#mel{
    margin-top: 100px;
    color: #b469f2;
}
em:hover{
    color: #e6cef9;
}

ul{
        margin-right: 2%;
}
li{
    list-style: none;
    border: 2px solid #BB99DD;
    border-radius: 2px;
    width: 300px;
    height: 30px;
    padding-top: 10px;

}
li:hover{
    border: 2px solid #e6cef9;
}
a{
    text-decoration: none;
}

.social{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 0 5px;
    display: inline;
}
.social:hover{
    border-bottom: solid #e6cef9;
}

