@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

:root {
    --text-base: #afb6c2;
    --text-title: #d4ccb6;
    --background: #191816;
    --form-background: #24221f;
    --primary-color: #ffc632;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #191816;
    color: #afb6c2;
    font-size: 12px;
    line-height: 30px;
}

a{
    color: #ffc632;
    text-decoration: none;
}

/*.container*/
.container{
    display: flex;
    flex-wrap: wrap;
    height: 800px;
}

/*.login*/
.login{
    flex-basis: 52%;
    background-color: #191816;
    padding: 60px;
}
.login main{
    background-color: #24221f;
    border-radius: 5px;
    width: 400px;
    padding: 50px 60px;
    margin:80px 30px 20px;
}
main .head .title{
    display: flex;
    color: #d4ccb6;
}

/*form*/
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
}
form label{
    line-height: 30px;
}
form label section{
    display: flex;
    gap: 3px;
    border: 1px solid #afb6c2;
    border-radius: 3px;
    padding: 10px;
   
}
form label section:focus-within {
    border: 2px solid #ffc632;
}
section .input{
    margin-left: 30px;
    background-color: #24221f;
    color: #afb6c2;
    width: 80%;
    border: none;
}
section .input:focus{
    outline: 0;
}

/*Inputs*/
.email{
    background-image: url(./images/mail.svg);
    background-repeat: no-repeat;
    background-position: 10px 7px;
}
.email:focus-within{
    background-image: url(./images/mail-focus.svg);
}
.password{
    background-image: url(./images/lock.svg);
    background-repeat: no-repeat;
    background-position: 10px 7px;
}
.password:focus-within{
    background-image: url(./images/lock-focus.svg);
}

/*checkbox*/
.check{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.check  span{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.checkbox{
    margin: 5px;
    padding: 9px;
    border: 1px solid;
    border-radius: 5px;
    width: 10px;
}
.checkbox:hover{
    background-image: url(./images/check.svg);
    background-color: #ffc632;
}

/*Button*/
form button{
    background-color: #ffc632;
    border:5px solid #ffc632;
    border-radius: 3px;
    padding: 10px;
}

form span{
    text-align: center;
}

/*.figure*/
.figure{
    flex-grow: 1;
    background-image: url(./images/side-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*footer*/
footer{
    text-align: center;
    color: #d4ccb6;
    font-style: italic;
}

@media(max-width:1030px){
    .login{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        flex-basis: 100%;
        background-color: #191816;
        padding: 20px;
        margin: 20px;
    }
    .login header{
        padding-right: 150px;
    }
    .login main{
        padding: 5px auto;
        margin: 10px auto;
        background-color: #191816;
    }
    
}