@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap');

:root {
    --black: #4D4C59;
    --purple: #6C63FF;
    --light-grey: #C8C8C8;
    --text-color: #9C9AB6;
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    color: var(--black);
    font-size: 12pt;
}
#top{
    width: 100%;

}
.container{
    display: block;
    text-align: center;
    line-height: 20px;
    margin: 10px auto;
    padding-right: 500px;
}
.container h1{
    font-size: 30pt;
    color: #6C63FF;
}
.countdown{
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 50px;
}
.countdown div{
    position: relative;
    width: 100px;
    height: 100px;
    font-size: 30pt;
    line-height: 100px;
    margin: 0 15px;
    background-color: #eaeaea;
    border-radius: 10px 10px ;
}
.countdown div::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 25px;
    left: 1px;
    top: 5em;
    background-color: #6C63FF;
    color: var(--light-grey);
    line-height: 20px;
    font-weight: 300;
    font-size:12pt ;
}
.countdown #day::before{
    content: 'Days';
}
.countdown #hour::before{
    content: 'Hours';
}
.countdown #minute::before{
    content: 'Minutes';
}
.countdown #second::before{
    content: 'Seconds';
}

.button{
    background-color: #6C63FF;
    color: var(--light-grey);
    border: 10px solid #6C63FF;
    border-radius: 10px;
    padding: 2px 5px;
}
/*Modal*/
.container #modal{
    display: none;
}
.button .open:hover{
    cursor: pointer;
}
 #modal:checked + .modalPage{
    display: flex;
}
.modalPage{
    display: none;
    position: fixed;
    bottom: -3px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
.modalPage .close{
    position: absolute;
    top: 50px;
    right: 90px;
    font-size: 30px;
    color: white;
}
.modalPage .close:hover{
    cursor: pointer;
    color:#ff7171 ;
}
.modalPage .modalContent{
    width: 50%;
    height: 70%;
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 10px;
    box-shadow: 5px 5px 12px #5f58ef;
    overflow: auto;
}
.modalContent form fieldset{
    margin: 80px 20px;
    color: #4D4C59;
    font-size: 15pt;
    padding: 30px;
}

.modalContent fieldset legend{
    color: #6C63FF;
    font-size: 30px;
}
.modalContent form label {
    display: block;
    padding-bottom: 20px;
}
.modalContent button{
    background-color: #6C63FF;
    color: #C8C8C8;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
}
.container .icon{
    width: 35%;
    position: absolute;
    right: 10px;
    bottom: 150px;
}
#bottom{
    width: 100%;
    position: absolute;
    margin-top: 3em;
}

/*Responsividade*/
@media (max-width:1000px){
    .container{
        line-height: 10px;
        margin: 50px auto 160px auto;
        padding-right: 80px;
    }
    
    .container h1{
        font-size: 20pt;
    }
    
    .countdown{
        margin: 10px;
    }
    .countdown div{
        width: 50px;
        height: 50px;
        font-size: 20pt;
        line-height: 40px;
        margin: 50px 10px;
    }
    .countdown div::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 25px;
        left: 1px;
        top: 4em;
        background-color: #6C63FF;
        color: var(--light-grey);
        line-height: 20px;
        font-weight: 300;
        font-size:8pt ;
    }
    /*Modal*/

    .modalPage .close{
        top: 120px;
        right: 50px;
    }
    .modalPage .modalContent{
        width: 80%;
        height: 50%;
    }
    .modalContent form fieldset{
        margin: 40px 20px;
        padding: 30px;
        font-size: 12pt;
    }
    
    .modalContent fieldset legend{
        font-size: 20px;
    }
    .modalContent form label {
        display: flex;
        line-height: 20px;

    }
    .container .icon{
        width: 50%;
        position: absolute;
        right: 10px;
        bottom: 10em;
    }
    #bottom{
        width: 100%;
        margin-top: 8em;
    }

}


