@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&family=Merriweather+Sans:ital,wght@0,500;0,700;1,400&family=Poppins:wght@300;400;500&display=swap');

:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #22212C;
    font-family:'Merriweather', sans-serif;
    color: #837E9F;
}

a{
    text-decoration: none;
    color: #837E9F;
}
a:hover{
    color: #CB92B1;
}

li{
    list-style: none;
}
p{
    padding: 10px;
}

/*.container*/
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    font-size: 10pt;
    line-height: 30px;
    margin: 10px auto;
    padding: 20px;
}

/*.info*/
.info{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2em;
    width: 350px;
}
.info section{
    border: 1px solid #302F3D;
    background-color: #302F3D;
    border-radius: 20px;
    width: 320px;
    padding: 20px;
}

/*.profile*/
.profile{
    text-align: center;
}
.profile img{
    border-radius: 50%;
    width: 130px;
    height: 130px;
    border:5px double #8742d1;
}

/* .social*/
.social{
    display: flex;
    flex-direction: column;
}
.social a{
    padding-left: 30px;
}
.social img{
   margin-right: 10px;
}

/*.techs*/
.techs ul {
    display: flex;
    flex-wrap: wrap;
    line-height: 10px;
    gap: 1em;
    padding: 10px;
    font-size: 9px;
}
.techs li{
    background-color: #CB92B1;
    color: #22212C;
    padding: 10px;
    width: 70px;
    text-align: center;
    border-radius: 60px;
    padding: 5px;
}

/*.experience*/
.experience dl, .school dl{
    padding-left: 25px;
}
.experience dt, .school dt{
    font-weight: 700;
}

/*.content*/
.content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1em;
    width: 350px;
    flex-grow: 2;
}
.content div, li{
    background-color: #302F3D;
    border-radius: 20px;
    padding: 20px;
}
.content div{
    padding: 10px;
    border-radius: 20px;
    font-weight: 900;
    font-size: 12pt;
    width: 100%;
    margin-bottom: 10px;
}
.content div a{
    padding: 30px;
}

/* .projects*/
.projects ul{
    display: flex;
    gap: 0.5em;
}
.projects li{
    width: 100%;
}
.projects li a{
    text-align: center;
    font-size: 12pt;
    padding: 15px;
}
.projects aside{
    display: flex;
    justify-content: space-between;
    font-size: 9px;
}

/* .posts*/
.posts ul li{
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    margin-top: 20px;
    padding: 20px;
    line-height: 25px;
}
.posts .pic img{
    border: 2px solid #CB92B1;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.posts img{
    width: 500px;
    border-radius: 10px;
    text-align: center;
}
.posts figure{
    text-align: center;
}

/* footer*/
footer{
    color: #8742d1;
    text-align: center;
    margin: 30px;
    font-style: italic;
    font-size: 8pt;
}

/* media*/
@media(max-width:1000px){
    .container{
        flex-direction: column;
        align-items: center;
        gap: 2em;
        justify-content: center;
    }
    .content section{
        width: 320px;
    }
    .projects ul{
        flex-wrap: wrap;
    }

    .posts img{
        width: 90%;
    }
}
